@import helper._
@import play.filters.csrf.CSRF._
@import models.entities.ForgetPasswordData
@(forgetPasswordForm: Form[ForgetPasswordData])(implicit flash: play.api.mvc.Flash,session: play.api.mvc.Session, messages: MessagesProvider,requests: RequestHeader)
@main("Forget Password"){
<h1><center>Forget Password</center></h1>
<h4 style="color: Red;"><center>@flash.get("status")</center></h4>



<center>

    @helper.form(action = routes.UserController.updatePassword){
    @CSRF.formField
    @helper.inputText(forgetPasswordForm("userName"),
    '_label -> "UserName")

    @helper.inputPassword(forgetPasswordForm("password"),
    '_label -> "Password")

    @helper.inputPassword(forgetPasswordForm("confirmPassword"),
    '_label -> "Confirm Password")

    <button name="submit">submit</button>
    }

</center>
}